<footer id="footer1" style="display: none;">
  <p>
    <div class="menu">
        <a href="https://facebook.com/giofahrezax" target="_blank" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com/giofahrezax" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/giofahrezax" target="_blank" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://medium.com/@giofahreza" target="_blank" class="social-icon"><i class="fa-brands fa-medium"></i></a>
        <a href="https://linkedin.com/in/giofahreza" target="_blank" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/giofahreza" target="_blank" class="social-icon"><i class="fa-brands fa-github"></i></a>
    </div>
    &copy;<!--<span id="year_now2"></span>-->2024 Giofahreza. All rights reserved.
  </p>
</footer>

<footer id="footer2" style="display: none;">
  &copy;<!--<span id="year_now2"></span>-->2024 Giofahreza. All rights reserved.
</footer>

<!-- <script>
  let currentYear = new Date().getFullYear();
  document.querySelector('#year_now1').textContent = currentYear;
  document.querySelector('#year_now2').textContent = currentYear;
</script> -->