<style>
  footer {
    text-align: center;
    margin-top: 80px;
    color: white;
  }

  footer #footer2 {
    margin-top: 50px;
  }

  .menu {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    /* display: flow; */
    justify-content: center;
    align-items: center;
  }

  .menu .social-icon{
    margin: 0 5px;
  }
  .social-icon{
    border: 1px solid #fff;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: grid; place-items: center;
    color: #fff;
    text-decoration: none;
  }
</style>

<footer id="footer1" style="display: none;">
  <p>
    <div class="menu">
        <a href="https://facebook.com/giofahrezax" target="_blank" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com/giofahrezax" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/giofahrezax" target="_blank" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://medium.com/@giofahreza" target="_blank" class="social-icon"><i class="fa-brands fa-medium"></i></a>
        <a href="https://linkedin.com/in/giofahreza" target="_blank" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/giofahreza" target="_blank" class="social-icon"><i class="fa-brands fa-github"></i></a>
    </div>
    &copy;<span class="year_now"></span> Giofahreza. All rights reserved.
  </p>
</footer>

<footer id="footer2" style="display: none;">
  &copy;<span class="year_now"></span> Giofahreza. All rights reserved.
</footer>

<script>
  let currentYear = new Date().getFullYear();
  document.querySelector('.year_now').textContent = currentYear;
</script>